* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: rgb(31, 31, 31);
  line-height: 1.4;
}

.container {
  border: 4px solid black;
  width: 825px;
  margin: 50px auto;
}

h1 {
  background-color: #f7f7f7;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  padding: 15px;
  position: relative;
}

h1::before {
  content: "SALE";
  position: absolute;
  display: inline-block;
  background-color: darkred;
  color: white;
  font-size: 10px;
  padding: 5px 15px;
  top: -15px;
  left: -30px;
  letter-spacing: 3px;
}

.flex-container {
  display: flex;
  gap: 40px;
}

/* .product-image {
  float: left;
  margin-right: 40px;
} */

.float-box-two {
  /* float: left;
  width: 250px;
  margin-right: 40px;
  margin-top: 26px; */
  flex: 1;
  margin-top: 26px;
}

.float-box-three {
  /* float: left;
  width: 200px; */
  margin-top: 26px;
  flex: 1;
}

.tag-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex: 1;
}

.price {
  font-size: 24px;
  /* float: left; */
}

.tag {
  text-transform: uppercase;
  font-size: 15px;
  color: #979797;
  font-weight: bold;
  /* float: right; */
  /* margin-top: 7px; */
}

.product-info {
  margin-bottom: 15px;
  /* clear: both; */
}

.info:link,
.info:visited {
  color: black;
  margin-bottom: 20px;
  display: inline-block;
}

.info:hover,
.info:active {
  text-decoration: none;
}

.color-container {
  margin-bottom: 18px;
  display: flex;
  gap: 15px;
}

.black {
  height: 22px;
  width: 22px;
  background-color: black;
}

.blue {
  height: 22px;
  width: 22px;
  background-color: blue;
}

.red {
  height: 22px;
  width: 22px;
  background-color: red;
}

.yellow {
  height: 22px;
  width: 22px;
  background-color: yellow;
}

.green {
  height: 22px;
  width: 22px;
  background-color: green;
}

.brown {
  height: 22px;
  width: 22px;
  background-color: brown;
}

h3 {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 700;
}

.list {
  list-style: square;
  margin-left: 20px;
}

li {
  font-size: 16px;
  margin-bottom: 8px;
}

li:last-child {
  margin-bottom: none;
}

button {
  text-transform: uppercase;
  color: rgb(236, 236, 236);
  background-color: black;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border-top: 4px solid black;
}

button:hover {
  color: black;
  background-color: white;
}
